@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Hedvig+Letters+Serif:opsz@12..24&family=Indie+Flower&family=Love+Ya+Like+A+Sister&family=Mali&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Hedvig+Letters+Serif:opsz@12..24&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Happy+Monkey&family=Hedvig+Letters+Serif:opsz@12..24&family=Indie+Flower&family=Love+Ya+Like+A+Sister&family=Mali&family=Montserrat+Alternates&family=Space+Mono&display=swap');

*{
  font-family: 'Happy Monkey', sans-serif;
  letter-spacing: 2px;
  /*
  font-family: "Montserrat";*/
}

img{
  border-radius: 6%;
}

#home h1{
  font-family: 'Great Vibes';
  font-size: 45px;
  margin: 10px;
  text-shadow: 2px 2px 2px #934b00;
}


#home{
  background-image: url("https://images.unsplash.com/photo-1552566626-52f8b828add9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
  padding-bottom: 25px;
  color: white;
  width: 100%;
  height: 500px;
  font-size: 20px;
}

.home-text{
  background-color: rgba(0, 0, 0, 0.45);
  max-width: 35%;
  padding: 20px;
  text-align: center;
  font-weight: bolder;
  margin: auto;
}

#home p {
  font-size: 16px;
  line-height: 25px;
  text-shadow: 1px 1px 2px #934b00;
}

.Header, .Footer, .about, #contact-container{
  background-color: #452103;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
}

.Header h1{
  font-size: 24px;
}

menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-size: large;
}
menu li{
  font-weight: bold;
  opacity: 0.8;
  cursor: pointer;
  padding: 10px 16px;
  transition: transform 0.2s;
}
menu li:hover{
  opacity: 1;
  background-color: rgba(147,75,0,0.5);
  color: white;
  border-radius: 14px;
  transform: scale(1.1);
  text-shadow: 2px 2px 2px #934b00;
}

img{
  margin: 30px 10px;
  transition: transform 0.2s;
}

#contact-container img:hover{
  transform: scale(1.1);
  transition: transform 0.2s;
}

.Footer img:hover, .about img:hover {
  background-color: rgb(245,245,245,0.4);
  border-radius: 10px;
  transform: scale(1.1);
  transition: transform 0.2s;
}

li{
  list-style-type: none;
}

.about, #contact-container, .menu {
  background-color: #934b00;
  color: white;
}

.about-left{
  max-width: 50%;
  margin: 20px auto;
  font-size: large;
}

.about p{
  margin: 30px 5px;
  font-weight: bold;
  line-height: 20px;
}

a:hover{
  opacity: 1;
  color: black;
  border-radius: 14px;
  transform: scale(1.1);
  text-shadow: 3px 1px 3px rgb(236, 224, 224);
}


